<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Усі сни</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>List of dreams</h1>

    <% if (dreams.length === 0) { %>
    <p>There are no dream yes</p>
    <% } else { %>
    <ul>
      <% dreams.forEach(dream => { %>
      <li>
        <h2><a href="/dream/<%= dream._id %>"><%= dream.title %></a></h2>
        <p><strong>Categories:</strong> <%= dream.categories.join(', ') %></p>
        <p><strong>Date:</strong> <%= dream.date ? dream.date.toDateString() : "Unknown" %></p>
      </li>
      <% }) %>
    </ul>
    <% } %>

    <a href="/add_new_dreams">Add new dream</a>
  </body>
</html>
