<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Document</h1>

    <p>This is a simple HTML document. It contains a heading and a paragraph.</p>
    <p>This is a sample paragraph.</p>
    <p>This is another sample paragraph.</p>
    <p>This is a third sample paragraph.</p>
  </body>
</html>
