<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new dream</title>
    <link rel="stylesheet" href="/styles.css" />
    <%- include("../partials/header") %>
    <script
      src="https://cdn.tiny.cloud/1/jtypyuj9zafop37vzzdiq2j9tsyldw451muqsnsq3z5q129y/tinymce/7/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script type="text/javascript">
      tinymce.init({
        menubar: false,
        statusbar: false,
        toolbar: false,
      });
    </script>

    <script>
      tinymce.init({
        selector: "textarea",
        plugins:
          "anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount preview",
        toolbar:
          "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat | preview",
        setup: function (editor) {
          editor.on("change", function () {
            tinymce.triggerSave(); // Save the content of the editor to the textarea before form submission
          });
        },
      });
    </script>
  </head>
  <body>
    <h1>Add new dream</h1>
    <%- include("../partials/messages") %>

    <form action="/add_new_dreams" method="POST">
      <label for="title">Name of the dream:</label>
      <input type="text" id="title" name="title" required />

      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>

      <label for="categories">Categories:</label>
      <select id="categories" name="categories" multiple required>
        <option value="horrors">Horrors</option>
        <option value="love_stories">Love Stories</option>
        <option value="fantasy">Fantasy</option>
        <option value="realistic">Realistic</option>
        <option value="adventure">Adventure</option>
        <option value="else">Else</option>
      </select>
      <p>Hold down Ctrl (Cmd on Mac) to select multiple categories</p>

      <button type="submit">Save</button>
    </form>
  </body>
</html>
